{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contabilidad</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>

    {% include 'header.html' %}

    <h1>Subsistema de contabilidad</h1>

    <main>
        <div class="seccion">

            <div class="formulario">
                <h2>Dar de alta ingreso</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ ingreso_form.as_p }}
                    <button type="submit" class="btn btn-outline-success">Guardar</button>
                </form>
            </div>

            <div class="listado">
                <h2>Listar ingresos</h2>
                <ul>
                    {% for ingreso in ingreso_list %}
                    <li>
                        {{ ingreso.Codigo }} - {{ ingreso.Fecha }} - {{ ingreso.Autor }} - {{ ingreso.Cantidad }}
                        <div class="contenedor-botones">
                            <button type="button" class="mostrarpop btn btn-outline-danger" data-ingreso-codigo="{{ ingreso.Codigo }}">Borrar</button>
                            <button type="button" class="editar btn btn-outline-warning" ingreso_id="{{ ingreso.Codigo }}">Editar</button>
                        </div>


                        <dialog id="popup-{{ ingreso.Codigo }}" class="flotante">
                            <p>¿Estás seguro de que deseas borrar el ingreso con código: {{ ingreso.Codigo }}?</p>
                            <form method="post" action="{% url 'borrar_ingreso' ingreso.Codigo %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success">Sí, borrar</button>
                            </form>
                            <a href="{% url 'contabilidad' %}">Cancelar</a>
                        </dialog>

                        <dialog id="popup-editar-{{ ingreso.Codigo }}" class="flotante">
                            <p>Estas editando el ingreso con código: {{ ingreso.Codigo }}</p>
                            <form method="post" action="{% url 'editar_ingreso' ingreso.Codigo %}">
                                {% csrf_token %}
                                {{ ingreso_form.as_p }}
                                <button type="submit" class="btn btn-outline-success">Guardar edición</button>
                            </form>
                        </dialog>

                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <div class="seccion">
            <div class="formulario">
                <h2>Dar de alta gasto</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ gasto_form.as_p }}
                    <button type="submit" class="btn btn-outline-success">Guardar</button>
                </form>
            </div>
            <div class="listado">
                <h2>Gastos</h2>
                <ul>
                    {% for gasto in gasto_list %}
                    <li>
                        {{ gasto.Codigo }} - {{ gasto.Fecha }} - {{ gasto.Autor }} - {{ gasto.Cantidad }}
                        <div class="contenedor-botones">
                            <button type="button" class="borrar-gasto btn btn-outline-danger" gasto_id="{{ gasto.Codigo }}">Borrar</button>
                            <button type="button" class="editar-gasto btn btn-outline-warning" gasto_id="{{ gasto.Codigo }}">Editar</button>
                        </div>


                        <dialog id="popup-borrar-gasto-{{ gasto.Codigo }}" class="flotante">
                            <p>¿Estás seguro de que deseas borrar el gasto con código:"{{ gasto.Codigo }}"?</p>
                            <form method="post" action="{% url 'borrar_gasto' gasto.Codigo %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success">Sí, borrar</button>
                            </form>
                            <a href="{% url 'contabilidad' %}">Cancelar</a>
                        </dialog>

                        <dialog id="popup-editar-gasto-{{ gasto.Codigo }}" class="flotante">
                            <p>Estas editando el ingreso con código: {{ gasto.Codigo }}</p>
                            <form method="post" action="{% url 'editar_gasto' gasto.Codigo %}">
                                {% csrf_token %}
                                {{ gasto_form.as_p }}
                                <button type="submit" class="btn btn-outline-success">Guardar edición</button>
                            </form>
                        </dialog>

                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="seccion">
            <div class="formulario">
                <h2>Dar de alta gasto contenido</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ gastocontenido_form.as_p }}
                    <button type="submit" class="btn btn-outline-success">Guardar</button>
                </form>
            </div>
            <div class="listado">
                <h2>Listar gastos de contenido</h2>
                <ul>
                    {% for gastocontenido in gastocontenido_list %}
                    <li>
                        {{ gastocontenido.Titulo }} - {{ gastocontenido.Fecha }} - {{ gastocontenido.Codigo }}
                        <div class="contenedor-botones">
                            <button type="button" class="borrar-gastocontenido btn btn-outline-danger" gastocontenido_id="{{ gastocontenido.Codigo }}">Borrar</button>
                        </div>


                        <dialog id="popup-borrar-gastocontenido-{{ gastocontenido.Codigo }}" class="flotante">
                            <p>¿Estás seguro de que deseas borrar el gasto con código:"{{ gastocontenido.Codigo }}"?</p>
                            <form method="post" action="{% url 'borrar_gastocontenido' gastocontenido.Codigo %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success">Sí, borrar</button>
                            </form>
                            <a href="{% url 'contabilidad' %}">Cancelar</a>
                        </dialog>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </main>

    {% include 'footer.html' %}

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var buttons = document.querySelectorAll('.mostrarpop');

            buttons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var codigo = button.getAttribute('data-ingreso-codigo');
                    var popup = document.getElementById('popup-' + codigo);
                    popup.showModal();
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var buttons = document.querySelectorAll('.editar');

            buttons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var codigo = button.getAttribute('ingreso_id');
                    var popup = document.getElementById('popup-editar-' + codigo);
                    popup.showModal();
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var buttons = document.querySelectorAll('.borrar-gasto');

            buttons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var codigo = button.getAttribute('gasto_id');
                    var popup = document.getElementById('popup-borrar-gasto-' + codigo);
                    popup.showModal();
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var buttons = document.querySelectorAll('.editar-gasto');

            buttons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var codigo = button.getAttribute('gasto_id');
                    var popup = document.getElementById('popup-editar-gasto-' + codigo);
                    popup.showModal();
                });
            });
        });

        // Borrar relación gasto contenido
        document.addEventListener('DOMContentLoaded', function () {
            var buttons = document.querySelectorAll('.borrar-gastocontenido');

            buttons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var gastocontenido_id = button.getAttribute('gastocontenido_id');
                    var popup = document.getElementById('popup-borrar-gastocontenido-' + gastocontenido_id);
                    popup.showModal();
                });
            });
        });

    </script>

</body>

</html>