{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Mostrar Ingresos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


</head>

<body>

    {% include 'header.html' %}

    <main>
        <div class="formulario">
            <h2>Dar de alta ingreso</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-success">Guardar</button>
            </form>
        </div>

        <div class="listado">
            <h2>Ingresos</h2>
            <ul>
                {% for ingreso in ingresos %}
                <li>
                    {{ ingreso.Codigo }} - {{ ingreso.Fecha }} - {{ ingreso.Autor }} - {{ ingreso.Cantidad }}
                    <!-- <a href="{% url 'editar_ingreso' codigo=ingreso.Codigo %}">Editar</a> -->
                    <div class="contenedor-botones">
                        <button type="button" class="mostrarpop btn btn-outline-danger" data-ingreso-codigo="{{ ingreso.Codigo }}">Borrar</button>
                        <button type="button" class="btn btn-outline-warning">Editar</button>
                    </div>


                    <dialog id="popup-{{ ingreso.Codigo }}" class="flotante">
                        <p>¿Estás seguro de que deseas borrar el ingreso con código:"{{ ingreso.Codigo }}"?</p>
                        <form method="post" action="{% url 'borrar_ingreso' codigo=ingreso.Codigo %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-success">Sí, borrar</button>
                        </form>
                        <a href="{% url 'mostrar_ingresos' %}">Cancelar</a>
                    </dialog>

                </li>
                {% endfor %}
            </ul>
        </div>

       

    </main>

    {% include 'footer.html' %}

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var buttons = document.querySelectorAll('.mostrarpop');

            buttons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var codigo = button.getAttribute('data-ingreso-codigo');
                    var popup = document.getElementById('popup-' + codigo);
                    popup.showModal();
                });
            });
        });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


</body>



</html>